<!-- app/views/users/index.html.erb -->

<h1>All Users</h1>
<%== pagy_nav(@pagy) %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
      <th>Approved</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.role %></td>
        <td><%= user.approved? %></td>
        <td><%= link_to "Delete User", remove_users_path(email: user.email), data: { turbo_method: :delete },
        onclick: "return confirm('Are you sure you want to delete this user?');" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_nav(@pagy) %>