<!-- app/views/sections/show.html.erb -->
<h1>Section</h1>
<p>Section ID <%= @section.id %></p>
<p>Course ID: <%= @section.course_id %></p>
<p>Graders needed: <%= @section.num_graders_needed %></p>
<p>Start Time: <%= @section.start_time %></p>
<p>End Time: <%= @section.end_time %></p>
<p>Day(s): <%= @section.day %></p>
<p>Campus: <%= @section.campus_name %></p>
<p>Term: <%= @section.term %></p>
<p>Instruction Mode: <%= @section.is_in_person %></p>


