<p>
    <strong>Instructor Email:</strong>
    <%= instructor_rec.instructor_email %>
</p>
<p>
    <strong>Instructor Email:</strong>
    <%= instructor_rec.student_email %>
</p>
<p>
    <strong>Instructor Email:</strong>
    <%= instructor_rec.section_id %>
</p>
<p>
    <strong>Instructor Email:</strong>
    <%= instructor_rec.specific_student_request_flag %>
</p>
<p>
    <strong>Instructor Email:</strong>
    <%= instructor_rec.reason %>
</p>